<!-- <section class="property-binding">
  <article>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é : {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é : {{ 1 + 1 + getValor() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}
    </p>
  </article>
  <article>
    <img src="{{ urlImage }}" />
  </article>
</section> -->

<!-- <article>
  <h3>Event Binding</h3>
  <div>
    <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

    <br /><br />

    <input
      type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput
    />
    <p>Valor atual: {{ valorAtual }}</p>
    <p>Valor salvo: {{ valorSalvo }}</p>

    <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span
    >
  </div>
</article> -->

<!-- <section class="two-way-binding">
  <article>
    <h3>
      <div>
        <input type="text" [value]="nome" (input)="nome = valor.value" #valor />

        <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />

        <input type="text" [(ngModel)]="nome" />

        <p>Você digitou o nome {{ nome }}</p>
      </div>
      <div>
        <p>
          Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade
        </p>
        <input type="text" [(ngModel)]="pessoa.nome" />
        <input type="text" [(ngModel)]="pessoa.idade" />
      </div>
    </h3>
  </article>
</section> -->

<section class="input-output-properties">
  <article>
    <h3>
      Input/Output Properties
      <app-curso [nome]="nomeDoCurso"></app-curso>
      <contador
        [valor]="valorInicial"
        (mudouValor)="onMudouValor($event)"
      ></contador>
    </h3>
  </article>
</section>
